@import "../../styles/main.scss";

.selector-title {
  font-family: "Nunito-SemiBold" !important;
  @media (min-width: $breakpoint-tablet) {
    font-size: 20px !important;
  }
  @media (max-width: $breakpoint-tablet) {
    font-size: 17px !important;
  }
}
