@import "../../styles/main.scss";

.breadcrumb {
  list-style: none;
  overflow: hidden;
  padding: 0px;

  font-family: "Nunito-SemiBold" !important;
  font-size: 16px !important;
  @media (max-width: $breakpoint-mobile) {
    font-size: 12px !important;
  }
}

.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: black;
  text-decoration: none;
  padding: 5px 0 5px 45px;
  @media (max-width: $breakpoint-mobile) {
    padding: 5px 0 5px 40px;
  }
  background: brown; /* fallback color */
  background: hsla(44, 95%, 55%, 1);
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(44, 95%, 55%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a {
  background: hsla(44, 95%, 65%, 1);
}
.breadcrumb li:nth-child(2) a:after {
  border-left-color: hsla(44, 95%, 65%, 1);
}
.breadcrumb li:nth-child(3) a {
  background: hsla(44, 95%, 75%, 1);
}
.breadcrumb li:nth-child(3) a:after {
  border-left-color: hsla(44, 95%, 75%, 1);
}
.breadcrumb li:nth-child(4) a {
  background: hsla(44, 95%, 85%, 1);
}
.breadcrumb li:nth-child(4) a:after {
  border-left-color: hsla(44, 95%, 85%, 1);
}
// .breadcrumb li:nth-child(5) a {
//   background: hsla(34, 85%, 75%, 1);
// }
// .breadcrumb li:nth-child(5) a:after {
//   border-left-color: hsla(34, 85%, 75%, 1);
// }
.breadcrumb li:last-child a {
  // background: transparent !important;
  // color: black;
  pointer-events: none;
  cursor: default;
}
.breadcrumb li:last-child a::after {
  // border: 0;
}

.breadcrumb li a:hover {
  background: hsla(34, 95%, 65%, 1);
}
.breadcrumb li a:hover:after {
  border-left-color: hsla(34, 95%, 65%, 1) !important;
}
